
/* html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
} */



          /* Albums */     

@media only screen and (max-width: 500px) {
 

  /* Image in carousel */
 
/*  */



/* .desc-1{
  margin: auto;
  padding: 10px;
  margin: 5px;
}

.desc-2{
  padding: 5px 10px;
  padding-top: 100px;
} */

}

