.imageGridd {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 10px;
  justify-content: center;

  margin: 0 auto;
    width: 100%;
    max-width: 1000px;
  padding: 0px;
}

.imageGridd .image-item{
  width: 400px;
  height: 400px;
  margin-top: 60px;
  padding: 10px;
  
}

  
.imageGridd img:hover {
  transform: scale(1.1);
  transition: 0.6s all ease !important;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .imageGridd{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}